.whatsapp-float{
  position: fixed;   /* 🔥 IMPORTANT */
  bottom: 20px;      /* 🔥 IMPORTANT */
  right: 20px;       /* 🔥 IMPORTANT */
  background: #25D366;
  border-radius: 50%;
  padding: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  z-index: 999;
  transition: transform 0.3s;
}

.whatsapp-float img{
  width:30px;
  height:30px;
}

.whatsapp-float:hover{
  transform: scale(1.1);
}