{% extends 'base.html' %}
{% block title %}Étapes du cycle{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2>Cycle de {{ group.nom }} ({{ cycle.periodicite }})</h2>

  <table class="table mt-3">
    <thead>
      <tr>
        <th>Étape</th>
        <th>Date</th>
        <th>Statut</th>
        <th>Bénéficiaire</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for etape in etapes %}
        <tr>
          <td>Étape {{ etape.numero_etape }}</td>
          <td>{{ etape.date_etape|date:"d/m/Y" }}</td>
          <td>
            {% if versements_par_etape.etape.complet %}
              ✅ Complète
            {% else %}
              ❌ Incomplète
            {% endif %}
          </td>
          <td>
            {% if versements_par_etape.etape.beneficiaire %}
              {{ versements_par_etape.etape.beneficiaire.nom }}
            {% else %}
              -
            {% endif %}
          </td>
          <td>
            {% if versements_par_etape.etape.complet and not versements_par_etape.etape.beneficiaire %}
              <a href="{% url 'tirer_au_sort' etape.id %}" class="btn btn-success btn-sm">🎰 Tirer</a>
            {% else %}
              -
            {% endif %}

             {% if user == group.admin %}
              <a href="{% url 'reinitialiser_cycle' group.id %}" class="btn btn-danger mt-4">
                🔁 Réinitialiser le cycle
              </a>
              {% endif %}

              <a href="{% url 'historique_cycles' group.id %}" class="btn btn-outline-secondary mt-3">
                🕰️ Voir l’historique des cycles
              </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
