<div class="social-links text-center mt-4">
    <a href="https://facebook.com/yaayess" target="_blank" class="mx-2">
        <i class="fab fa-facebook fa-2x"></i>
    </a>

    <a href="https://instagram.com/yaayess" target="_blank" class="mx-2">
        <i class="fab fa-instagram fa-2x"></i>
    </a>

    <a href="https://tiktok.com/@yaayess" target="_blank" class="mx-2">
        <i class="fab fa-tiktok fa-2x"></i>
    </a>

    <a href="https://linkedin.com/company/yaayess" target="_blank" class="mx-2">
        <i class="fab fa-linkedin fa-2x"></i>
    </a>
</div>
